* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

.btn-danger {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.dropdown-menu {
  background-color: #30384676;
  color: rgb(226, 228, 233);
  border: 0 solid;
}

.dropdown-item {
  background-color: #30384676;
  color: rgb(226, 228, 233);
  border-bottom: 0px solid #181b1f;
}

a {
  text-decoration: none;
  color: white;
}

.card-group {
  background-color: transparent;
}

.poster {
  width: 100%;
  text-align: center;
  height: 90vh;
}

.card img {

  height: 300px;
}

.card {
  border: 0 solid;

}

.add {
  display: inline;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.title {
  display: inline;
}

.movie_info {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  color: white;

}



.btn {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}





.movie_info img {
  width: 50%;

}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.movie_ref {
  display: inline;
  text-decoration: none;
  color: white;

}